*{
    margin: 0;
}

header{
    background-color: #1f2937;
    color: white;
    padding-bottom: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.left-links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
    font-size: 24px;
    color: #f9faf8;
}

.right-links{
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    margin-right: 5px;
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 20px;
    text-align: center;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}

.header-grabber{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 35px;
    
}

.hero{
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
}

.hero-sub{
    font-size: 18px;
    color: #e5e7eb;
}

.random{
    display: flex;
    flex-direction: column;
    
}

.some{
    margin: auto;
    margin-top: 5vh;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.box{
    border: 3px solid #3882f6;
    height: 20vh;
    width: 20vw;
    border-radius: 15px;
}

.boxes{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.subtext{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start;
    justify-content: space-around;
    width: 75vw;
    flex: 0 1 auto; */
    /* gap: 40px;
    justify-content: space-around; */
    padding:  20px;
    gap: 35px;
    justify-content: space-around;
}

.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    
}

.quoter{
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
    font-weight: bold;
}

.action{
    display: flex;
    background-color: #3882f6;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 15vh;
    width: 75%;
    height: 15vh;
    border-radius: 15px;
    
}

footer{
    text-align: center;
    padding: 35px;
    margin-top: 15vh;
    color: white;
    background-color: #1f2937;
}